*{
    margin: 0;
    padding:0;
}
body{
    background-color: #F0F2F5;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: white;
    /* position: sticky; */
    display: flex;
    padding: 0 10px;
    /* box-shadow: 0px 1.5px 2px 0px rgba(0, 0, 0, 0.34); */
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.34);
}

.nav-left{
    flex: 1;
    display: flex;
    align-items: center;
    
}

.nav-middle{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 24.5vh; */
    margin: 0 50px;
    padding: 0 77px;

}

.nav-right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 50px;
}

.searchBox{
    background-color: #F0F2F5;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    width: 100%;
}

.searchBox > input{
    flex: 1;
    background-color: #F0F2F5;
    border: none;
    outline: none;
    padding-left: 10px;
}

.icons-color{
    /* font-size: 20px; */
    
    color: rgb(111, 111, 111);
    text-align: center;
}


.active {
    color: blue;
    border-bottom: 4px solid blue;
}

main{
    margin-top: 10px;
}

.container{
    display: flex;
    padding: 0 10px;
}

.left{
    /* flex:1; */
    width: 328px;
    box-sizing: border-box;
    min-height: 500px;
}

.middle{
    flex:1;
    /* width: 864px; */
    min-height: 500px;
    box-sizing: border-box;
    /* padding: 0 11rem; */
    /* padding: 0 24.5vh; */
    justify-content:center;
    align-content: center;
    margin: 0 50px;
    padding: 0 77px;

}

.right{
    /* flex:1; */
    width: 328px;
    min-height: 500px;
    padding-top: 10px;
    /* background-color: rgb(238, 163, 52); */
    box-sizing: border-box;
}



.left-upperBox{
    padding: 10px;
    border-bottom: 1px solid black;
}

.your-shortcuts{
    min-height: 400px;
    background-color: rgb(76, 173, 202);
}

.story-box{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

.stories{
    height: 200px;
    background-color: rgb(150, 220, 150);
}

.user-box{
    box-sizing: border-box;
    height: 123px;
    padding: 10px;
}

.whats-on-your-mind{
    border-bottom: 1px solid rgb(130, 130, 130);
    padding-bottom: 10px;
    display: flex;
}

.user-utility-box {
    /* background-color: hotpink; */
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.admin-image{
    width: 41px;
    border-radius: 100px;
}

.user-utility-box i{
    color: green;
}

 .user-utility-box h3:last-child i{
    color: lightsalmon;
}

.user-utility-box h3:first-child i{
    color: red;

}

.user-utility-box h3{
    color:gray;
} 

.room-box{
    height: 64px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.room{
    /* justify-items: center; */
    border-radius: 50px;
    border: 1px solid gray;
    padding: 10px;
}

.post {
    min-height: 500px;
}

.radius{
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.289);
    margin-bottom: 20px;
    background-color: white;

}

.rightSide-image-container{
    display: flex;
    font-weight: 600;
    align-items: center;
    margin-bottom: 15px;
}













/* utality classes*/

.margin-left{
    margin-left: 10px;
}

.story-width{
    width: 111px;
}

.idel-width{
    width: 589px;
}

div.scroll {
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}