*{
    margin: 0;
    padding:0;
}
body{
    background-color: #F0F2F5;
}

nav{
    background-color: white;
    display: flex;
    padding: 0 10px;
    box-shadow: 0px 1.5px 2px 0px rgba(0, 0, 0, 0.34);
}

.nav-left{
    flex: 1;
    display: flex;
    align-items: center;
    
}


.nav-middle{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 50px;
}

.searchBox{
    border: 1px solid black;
    width: 50px;
}

i{
    font-size: 20px;
    color: rgb(111, 111, 111);
}

main{
    margin-top: 10px;
}

.container{
    display: flex;
    
}

.left{
    flex:1;
    background-color: blanchedalmond;
    min-height: 500px;
}

.middle{
    flex:2;
    background-color: rgb(231, 198, 148);
    min-height: 500px;
    box-sizing: border-box;
    padding: 0 7.5rem;

}

.right{
    flex:1;
    background-color: rgb(238, 163, 52);
    min-height: 500px;
}

.left-upperBox{
    min-height: 200px;
    background-color: lightblue;
}

.your-shortcuts{
    min-height: 200px;
    background-color: brown;
}

.story-box{
    background-color: #F0F2F5;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    
}

.stories{
    width: 111px;
    height: 200px;
    background-color: green;
    border-radius: 15px;
    /* margin-right: 10px; */
}