*{
    margin: 0;
    padding:0;
}
body{
    background-color: #F0F2F5;
}

nav{
    background-color: white;
    display: flex;
}

.nav-left{
    flex: 1;
    display: flex;
    align-items: center;
    
}

.nav-middle{
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 100px;
}

.searchBox{
    border: 1px solid black;
    width: 50px;
}

i{
    font-size: 20px;
}

.container{
    display: flex;
    
}

.left{
    flex:1;
    background-color: blanchedalmond;
    min-height: 800px;
}

.middle{
    flex:2;
    background-color: rgb(231, 198, 148);
    min-height: 800px;
}

.right{
    flex:1;
    background-color: rgb(238, 163, 52);
    min-height: 800px;
}